/** 
 * Especificamos archivos de fuentes
 */
@font-face {
    font-family: "Roboto";
    src: url("res/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Orbitron";
    src: url("res/fonts/orbitron/Orbitron-Regular.ttf");
}

* {
    border-color: black;
    border-width: 0;
    border-style: hidden;

    margin: 0px;
    padding: 0px;

    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup {
    display: block;
}

body {
    text-align: center;
    background-color: whitesmoke;

    font-size: 12pt;
}

#root_div {

    width: 980px;
    margin: 15px auto;

    text-align: left;
}

/*******************************************************************************************/
/** Encabezado del sitio web                                                               */
/*******************************************************************************************/

header {
    background-image: url(res/cabecera.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 8em;
}

header h1 {
    color: white;
    padding: 10px 10px;
    font-family: Verdana;

    text-shadow: black 3px 3px;
}


/*******************************************************************************************/
/** Enlaces de navegación por la página                                                    */
/*******************************************************************************************/
nav {
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
}

nav a {
    display: inline-block;
    margin: 3px 5px;

    padding: 3px 10px;

    text-decoration: none;

    border-width: 1px;
    border-radius: 5px;
    border-color: darkgreen;
    border-style: solid;

    background-color: darkseagreen;
}

nav a:hover {
    background-color: darkgreen;
    color: white;
}

/*******************************************************************************************/
/** La zona central donde se encuentran los artículos                                      */
/*******************************************************************************************/

main {
    float:left;

    width: 65%;
    float: left;
}

section {
    margin: 10px;

    clear: both;
}

section > img {
    float: left;

    margin: 0 1em 0;

    border-radius: 3em;

    width: 6em;
    height: 6em;
}

section > a:first-of-type {
    font-size: 1.5em;
    color:black;
    text-decoration: none;
}

section > a:first-of-type:hover {
    text-decoration: underline;
}

section .notice {  
    background-color: lightyellow;

    font-size: 0.7em;
}

section .datosEnvio {
    font-size: 0.8em;

    margin-bottom: 1em;
}

section .usuario {
    color: green;
    text-decoration: none;

}

section .usuario:hover {
    font-weight: bold;
}

section time {
    font-family: Orbitron, Verdana, Geneva, Tahoma, sans-serif;
}

section > article {
    display: inline;

    text-align: justify;

    margin: 1em 0;
}

section > article > p {
    margin-bottom: 1em;    
}

section .continuarLeyendo {    
    background-color: white;    
    color: green;
    
    border-radius: 15px;
    border-color: green;
    border-style: solid;
    border-width: 1px;

    padding: 0.25em 1em 0.25em 1em;
    text-decoration: none;
}

section .continuarLeyendo:hover {
    color: white;
    background-color: green;    
    border-color: black;
}

section .finSeccion {
    width: 95%;    
    height: 0.05em;

    background-color: lightgreen;
    margin: 2em auto;
}

main section:last-of-type .finSeccion {
    display: none;  /** Importante. Eliminamos con esta regla la línea tras el último artículo */
}

/*******************************************************************************************/
/** Algunos cuadros trending topic                                                         */
/*******************************************************************************************/

aside {
    float: right;
    
    width: 30%;
    margin: 1em;    
}

aside .destacados {
    margin-bottom: 3em;
    background-color: white;

  
    border-radius: 10px;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;    
}

aside .masVotados {
    margin-bottom: 3em;
    background-color: white;


    border-radius: 10px;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;    
}

aside .sitios {
    margin-bottom: 3em;
    background-color: white;


    border-radius: 10px;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;    
}


aside .tituloSeccion {
    
    font-size: 1em;
    text-align: center;    
    color: white;
    
    background-color: darkgreen;

    border-radius: 10px 10px 0 0;

    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

aside img {
    float: right;

    width: 2.5em;
    height: 2.5em;
    border-radius: 10px;
}

aside article {
    clear: both;
    background-color: lightgreen;

    padding: 0.8em 0.4em;
}

aside article:nth-child(even) {
    background-color: white;
}

aside article:last-of-type {
    border-radius: 0 0 10px 10px;
}

aside .destacados article > a {
    float: left;

    width: 2em;
    text-align: center;

    font-style: bold;
    font-family: Orbitron;
    font-size: 0.8em;

    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    
    margin: 3px 6px;
    padding: 2px 6px 2px 6px;
}

aside .masVotados article > a {
    float: left;

    width: 4em;
    text-align: center;
    word-wrap: break-word;

    font-style: bold;
    font-family: Orbitron;
    font-size: 0.5em;

    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    
    margin: 3px 6px;
    padding: 2px 6px 2px 6px;
}

aside .sitios ol {
    list-style-position: inside;
}

aside .sitios li {
    text-align: left;
    word-wrap: break-word;

    font-style: bold;
    font-family: Orbitron;
    font-size: 1em; 

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    
    margin: 3px 6px;
    padding: 2px 6px 2px 6px;
}


/*******************************************************************************************/
/** Información del sitio web                                                              */
/*******************************************************************************************/


/* Para que la posición de este elemento sea calculada ahora a partir del flujo normal del documento en 
lugar de a partir de la posición actual hay que aplicar nuevamente una propiedad en CSS */
footer {    
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 2em;    

    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

footer div { 
    display: flex;
    flex-direction: column;
}

footer h1 { 
    font-size: 1em;
    color: darkgreen;
}

footer a { 
    color: green;
    text-decoration: none;    
    font-size: 0.8em;
    margin: 2px 0;;
}

footer a:hover { 
    text-decoration: underline;
}

/*******************************************************************************************/
/** Otras clases */
/*******************************************************************************************/
.separadorHorizontal {
    clear: both;

    border-style: hidden;

    height: 1px;
    width: 100%;
    background-color: darkgreen;
}