
/** 
 * Especificamos archivos de fuentes
 */
@font-face {
    font-family: "Roboto";
    src: url("res/fonts/roboto/Roboto-Regular.ttf");
}

/**
 * Aplicamos estos parámetros a todos los elementos de nuestro documento.
 */
 * {

    /* Algonos parámetros que permiten personalizar el IU */
    border-color: black;
    border-width: 1px;
    border-style: solid;

    /* Con esto "machacamos" el margen por defecto de los elementos. Los márgenes por defecto
       pueden no ser adecuados o muy grandes de modo que es mejor definir un valor por defecto adecuado
       para nuestro sitio */
    margin: 0px;

    /* Igual que para el margen, establecer el relleno por defecto para nuestro sitio sería una buyena práctica */
    padding: 0px;
}

/* Podría ocurrir que algún navegador trate incorrectamente elementos de bloque como elementos de línea
aunque esto no debería ocurrir. Para evitarlo, se puede utilizar una regla como la que sigue */
header, section, footer, aside, nav, article, figure, figcaption, hgroup {
    display: block;
}

html {
    border-width: 0px;
}

/*  Especifico como se van a alinear los elementos dentro de la página principal */
body {
    /* Esto afecta únicamente a los elementos en línea como texto o imágenes 
       Esta propiedad es hereditatia.
     */
    text-align: center;

    background-color: white;

    font-size: 12pt;

    border-width: 0px;
    border-style: solid;
}

/***********************************************************************************************
 * CABECERA
 ***********************************************************************************************/

/* Configuración general */
header {        
    /* 
     * Configura el fondo. Pone una imgen de fondo con gradiente. Estira la imagen para que ocupe 
     * todo el encabezado. 
     */
    background-image: linear-gradient(45deg, rgba(255,255,255,0), rgba(255,255,255,0.9)), url(res/cabecera.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Va a ser el mediaquery. General */
header {            
    display: grid;

    /* Configuro el grid */
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;

    /* Algura del encabezado de la página */
    height: 7em;
}


/** Configuración para el formulario de búsqueda en la cabecera */
header form {
    display: flex;
    
    /* Indica que los elementos se alinean en el centro. */
    align-items: center;

    grid-column: 2;
    grid-row: 2 / 3;

    /* Configura los bordes */
    border-style: hidden;
}

@media (min-width: 1000px) {

    header {            
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 4fr 1.5fr 0.1fr;
    }    

    header form {    
        grid-column: 2;
        grid-row: 2 / 3;    
    }    
}

/** Campo de búsqueda */
header form .busqueda {
    
    /* 
     * Este componente va a llenar todo el espacio restante. Indica la proporción del espacio
     * restante que debe ocupar el elemento.
     */
    flex-grow: 1;

    /* Configura los bordes */
    border-radius: 0px 5px 5px 0px;
    border-width: 2px 2px 2px 0px;
    border-color: grey;
    
    /* Configura una altura */
    height: 2em;
}

header form .busqueda:focus {
    
    /* Configura el outline en caso de tener el foco */
    outline: 1px solid blue;
}


header form button {
    
    /* Oculta el borde */
    border-style: hidden;

    /* Configura el fondo transparente */
    background-color: rgba(255,255,255,0);
}

header form button i {    

    /* Configura los bordes */
    border-radius: 5px 0px 0px 5px;
    border-width: 2px 0 2px 2px;
    border-color: gray;

    /* Configura el fondo */
    background-color: lightblue;

    /* Color de fuente */
    color:whitesmoke;
}

header form button i:hover {
    
    /* Configura el fondo */
    background-color: blue;
}


/***********************************************************************************************
 * MENÚ GENERAL DEL SITIO
 ***********************************************************************************************/
.nav_horizontal {
    display: flex;

    /* Alineación del texto a la izquierda. Afecta a elementos en línea */
    text-align: left;

    /* Bordes del panel de navegación */
    border-style: solid;
    border-width: 1px 0px;
    border-color: lightskyblue;
    background-image: linear-gradient(to right, rgba(200,200,255,0), rgba(200,200,255,0.9));
}

.nav_horizontal > a {
    display: inline-block;        

    border-width: 1px 0 1px 0;
    background-color: rgba(255,255,255,0);
    text-align: center;

    width: 10em;
}

.nav_horizontal > a > div {
    border-width: 3px 0 3px 0;
    margin: 2px 0 2px 0;
    border-color: lightskyblue;
}

.nav_horizontal > a > div:hover {
    border-color: blue;
}

.nav_horizontal > div {
    display: flex;
    flex-grow: 1;

    border-width: 1px 0 1px 0;
    
    background-color: rgba(255,255,255,0);
    
    text-align: center;
}

.nav_horizontal > div > div {
    flex-grow: 1;

    border-width: 3px 0 3px 0;
    border-color: lightskyblue;
    
    background-color: rgba(255,255,255,0);

    margin: 2px 0 2px 0;
}

/***********************************************************************************************
 * CUERPO
 ***********************************************************************************************/

#divcentro {
    display: flex;    

    border-style: hidden;
}

/* NAVEGACION **********************************************************************************/

#divcentro > nav {
    display: flex;
    flex-direction: column;

    margin: 10px;

    width: 15em;

    border-style: hidden;
}

@media (max-width: 1000px) {
    #divcentro > nav {
        display: none;
    }    
}

#divcentro > nav > a {
    display: inline-block;    
    
    border-style: solid;
    border-radius: 0;
    border-width: 1px;
    border-color: lightsteelblue;
}

#divcentro > nav > a:nth-child(1) {
    border-radius: 10px 10px 0 0;
}

#divcentro > nav > a:nth-last-of-type(1) {
    border-radius: 0 0 10px 10px;
}

#divcentro > nav > a:hover {   
    background-color: blue;
}

/* ARTICULOS **********************************************************************************/

#divcentro > main {

    /* Hace que ocupe todo el espacio libre en el padre */
    flex-grow: 1;

    /* El área principal no tiene bordes */    
    border-style: hidden;
    border-width: 0;

    margin: 0 0 0 10px;
    padding: 20px;

    /** Establece la fuente para este elemento y los subelementos */
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;    
}

#divcentro > hr {
    
    /* El ancho del separador */
    width: 10px;
    
    background-color: lightblue;
    border-style: hidden;    
}

#divcentro main article {
    float:left;
    border-style: hidden;
    
    /* El espacio entre los artículos */
    padding: 1em;
}

#divcentro main article > div {
    display: flex;

    width: 10em;
    height: 15em;
    flex-direction: column;
    
    border-radius: 10px;
    border-color: mediumslateblue;
}


#divcentro main article > div:hover {
    border-color: lightsalmon;
    margin-top: -10px;
}

#divcentro main article > div > hr {
    height: 1px;
    background-color: lightslategray;
    border-style: hidden;
}

main article > div > img {
    width: 10em;
    height: 12em;

    border-style: hidden;
    border-radius: inherit;
}

main article div > .nombreArticulo {    
    display: flex;              /* Para centrar el contenido */
    align-items: center;        /* Centra vertical */
    justify-content: center;    /* Centro horizontal */
    
    height: 2.5em;    

    padding: 2px 5px 2px 5px;

    background-color: lightyellow;

    border-style: hidden;
    border-radius: inherit;
}

main article div > .precioArticulo {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    color:red;

    background-color: lightsteelblue;

    padding: 2px 5px 2px 5px;    

    border-style: hidden;    
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

/* Ofertas **********************************************************************************/

#divcentro > aside {
    display: flex;
    
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;

    flex-direction: column;
    padding: 10px 5px;

    width: 10em;

    border-style: hidden;
    border-width: 0;
}

@media (max-width: 1000px) {
    #divcentro > aside {
        display: none;
    }    
}

#divcentro > aside > hr {
    border-style: hidden;
    background-color: lightsteelblue;
    height: 2px;
}

#divcentro > aside > article {
    display: flex;
    
    flex-direction: column;
    
    margin: 10px 5px;
    border-radius: 0px;
}

#divcentro > aside > article:hover {
    border-color: lightsalmon;
}

#divcentro > aside > article > img {
    border-style: hidden;
    border-radius: inherit;
}

#divcentro > aside > article > .nombreArticulo {   
    border-radius: 0px;
    background-color: lightyellow;

    border-style: hidden;
    border-radius: inherit;
}

#divcentro > aside > article > .precioArticulo {
    display: flex;
    align-items: center;
    justify-content: center;
 
    font-weight: 900;
    color: red;    
    background-color: lightskyblue;

    border-style: hidden;
    border-radius: inherit;

    height: 2.5em;
}

#divcentro aside article > hr {
    height: 1px;
    background-color: lightslategray;
    border-style: hidden;
}

/***********************************************************************************************
 * Pie del documento
 ***********************************************************************************************/

.separadorBloque {
    background-color: lightblue;
    height: 10px;
    border-style: hidden;
}


 footer {
    display: grid;
    
    grid-template-columns: 1fr;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
    border-style: hidden;
    border-width: 0;

    margin-top: 20px;
}

@media (min-width: 800px) {
    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }    
}

footer > div {
    display: flex;

    flex-direction: column;    
    align-items: center;
    justify-content: center;

    padding: 10px;

    border-style: inherit;
    border-width: inherit;
}

@media (min-width: 800px) {
    footer > div {
        flex-direction: column;    
        align-items: flex-start;
        justify-content: left;
    }
}

footer > div > h1 {
    font-size: 1.2em;

    margin-bottom: 1.2em;

    border-style: inherit;
    border-width: inherit;
}

footer > div > a {
    display: inline-block;    

    color: darkblue;
    font-style: normal;
    text-decoration: none; /* Elimina subrayado */

    border-style: inherit;
    border-width: inherit;

    margin: 3px 0;
}

footer > div > a:hover {
    background-color: lightcyan;    
}

