* {
    border-color: black;
    border-width: 1px;
    border-style: solid;

    margin: 0px;
    padding: 0px;
    
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup {
    display: block;
}

body {
    text-align: center;
    background-color: gray;
}

#root_div {

    width: 980px;
    margin: 15px auto;

    text-align: left;
}

header {
    background-color: lightskyblue;
}

nav {
    background-color: lightgreen;
    margin-left: 15px;
    margin-right: 15px;
}

main {
    background-color: lightblue;

    width: 778px;
    float: left;
}

article {
    background-color: lightblue;
}

section {
    background-color: orange;
    margin: 10px;
}

aside {
    background-color: lightsteelblue;

    width: 198px;
    float: left;
}


/* Para que la posición de este elemento sea calculada ahora a partir del flujo normal del documento en 
lugar de a partir de la posición actual hay que aplicar nuevamente una propiedad en CSS */
footer {
    background-color: lightskyblue;
    text-align: center;

    /* Esta propiedad hace que el elemento se sitúe debajo de los elementos flotantes y no junto a ellos */
    clear: both;
}