
body {
    background-color: gray;
}

/* El raiz **********************************************/
#divroot {
    display: flex;
    flex-direction: column;
}


/* El encabezado **********************************************/

header {
    background-color: orange;    

    padding: 10px;
}

header > nav {
    background-color: yellow;    
}

#divcentro {
    display: flex;
    flex-direction: row;
}

/* El centro ***************************************************************/

#divcentro > nav {

    /* Asigno un tamaño y tamaño mínimo. No neesito nada más */
    width: 200px;

    background-color: yellow;
    margin: 10px;
}

#divcentro > main {
    /* Voy a colocar las cajas en vertical */
    display: flex;
    flex-direction: column;

    /** Todo el espacio restante para este bloque */
    flex-grow: 1;    
}

/* Esto lo aplico a todos los artículos ***************/
main > article {
    margin: 10px;
    background-color: cyan;
}

main article section {
    background-color: lightgreen;
    margin: 0.5em;
}

main > article aside {
    background-color:lightsteelblue;

    margin: 0.5em;
}

/* Tipo de artículo 1 ************************/
main > .tipoArticulo1 {
    display: flex;
    flex-direction: row;
}

main > .tipoArticulo1 div {
    flex-grow: 1;        
}
main > .tipoArticulo1 aside {
    width: 100px;
}

main > .tipoArticulo1 section:nth-child(1) {
    height: 70px;
}

main > .tipoArticulo1 section:nth-child(2) {
    height: 50px;
}

/* Tipo de artículo 2 ************************/
main > .tipoArticulo2 section {
    display: flex;
    flex-direction: row;
}

main > .tipoArticulo2 section:nth-child(1) {
    height: 30px;
}

main > .tipoArticulo2 section:nth-child(2) {
    height: 120px;
}

main > .tipoArticulo2 section div {
    flex-grow: 1;
}

main > .tipoArticulo2 section aside {
    width: 200px; 

}


/* El PIE *********************************************/
footer {
    background-color: orange;
    padding: 10px;
}

footer > nav {
    background-color: yellow;
}